<% content_for :title do %>Application<% end %>
<!--
<div class="full-width">
<div class="announce">
    <style>
    a { color: #ffffff; }
  </style>
    <a href="http://www.insaka.org/pages/application"><strong>We are currently accepting applications for sponsorship</strong></a>
           
</div>
</div>
-->
	<div class="row featurette">
		<div class="col-sm-12">
			<br>
	<h1 class="featurette-heading">Applications</h1>
		<p class="lead">Interested in working with Insaka to sponsor a girl?</p>
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-7">
		<h2 class="featurette-heading">Requirements</h2>
		<p>We are looking for girls that:</p>
			<ul type="square">
				<ul>
					<li>Are Zambian</li>
					<li>Live in a rural area</li>
					<li>Lack the financial resources to go to secondary school</li>
					<li>Have passed or are about to pass their Grade 9 exams</li>
					<li>Are promising and dedicated students</li>
				</ul>
				<br>

		<p>We also need somebody to sponsor the girl. This sponsor should:</p>
				<ul>
					<li>Be free from any familial/personal links with the girl</li>
					<li>Be willing and able to visit the DEBS office and the secondary school the girl is admitted to</li>
					<li>Be in Zambia the January that the girl will enter school</li>
					<li>Have and regularly use Whatsapp, Facebook Messenger or email</li>
				</ul>
				<br>
				<p>Due to the three year commitment, we recommend that the primary sponsor is somebody from the girl's community, e.g. a teacher, clinic worker, priest, etc. If you will not be in Zambia until the girl finishes school, you can still play an invaluable role by working with the girl to find a sponsor and complete the application.</p>
				<p> We are small and adaptable so feel free to talk to us if you have an idea for something outside of these parameters.</p>
		</div>

	<div class="col-sm-5">
  <img class="featurette-image img-fluid mx-auto img-responsive" src="../images/Prudence1-compressor.jpg " alt="An African school girl">
	</div>
</div>
	<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-5">
		<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/Girls by the teachers office.jpg" alt="Zambian girls at school">
	</div>
	<div class="col-sm-7">
		<h2 class="featurette-heading">The Insaka Process (in brief)</h2>
	<ul>
		<li>The sponsor talks to the girl about her interests and plans, and Insaka</li>
		<li>The sponsor and the girl fill out the application together</li>
		<li>Insaka reviews the applications and chooses the best candidates</li>
		<li>Insaka begins fund raising for the girl's fees</li>
		<li>The girl and the sponsor work to ensure that the girl is accepted into a secondary school</li>
		<li>The sponsor visits the secondary school and meets with their administration</li>
		<li>Insaka transfers money to the school</li>
		<li>The girl reports to school</li>
	</ul>
		<p>Please see the application forms for a detailed description of the process.<br>
			<br>
		Applications are open from the beginning of February to the beginning of July. Candidate are notified and fundraising begins in July. The girl starts school in January.</p> 
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-7">
		<h2 class="featurette-heading">Have a girl in mind?</h2>
		<p>If you know a girl that would make a good candidate, please consider talking to her about Insaka. If you need more information or a clarification, feel free to contact us.<br>
			<br>
		<%= link_to "Insaka Application", asset_path("Insaka app Mar1 2018.pdf"), :class => "btn btn-large btn-danger" %></p>		
		<p><strong>Applications for sponsorship in <%= Time.now.year + 1 %>  are closed. Applications for <%= Time.now.year + 2 %> will open in early <%= Time.now.year + 1 %>.</strong></p>
	</div>
	<div class="col-sm-5">
	<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/Violet-for-app-compressor.jpg" alt="Violet at school">
	</div>
</div>
</div>
	<hr class="featurette-divider">
</body>
<footer>
	
    <div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer
