<% if @sent %>
  <h1>Message sent</h1>
<% end %>

<div id="contact">
  <div class="hero-image">
    <div class="hero-text">
      <div class="hero-text-holder">
        <h1>SEND US A MESSAGE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
      </div>
    </div>
  </div>
  <div id="contact-form-holder">
    <%= form_tag "/contact", method: :post, id: "contact-form" do %>
      <div class="form-line">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, type: 'text' %>
      </div>
      <div class="form-line">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, type: 'email', :required => true %>
      </div>
      <div class="form-line">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil, rows: 4, :required => true %>
<!--         <label for="message">Message</label>
        <textarea rows='4' id="message" required>
        </textarea> -->
      </div>
      <div class="form-line">
        <button type="submit" id="contact-button">Send</button>
      </div>
    <% end %>
  </div>
</div>
