<<% content_for :title do %>Candidates<% end %>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128981455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-128981455-1');
</script>
</head>
<div class="container-fluid">
	<br>
	<div class="col-sm-12 text-center mx-auto">
		<h2 class="featurette-heading">Candidates</h2>
			<hr class="featurette-divider">
		<p> We are raising money for these four girls, who hope to begin secondary school in 2020. Your donation can go a long way toward getting them into secondary school.</p>
	</div>
	<br>
	<br>
	<br>
<div class="row featurette">
	<div class="col-sm-6 text-center mx-auto">
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/Blessings 1 compressed.jpg" alt="A Zambian girl preparing to go to high school">
			<br>
		<div>
		<p>Blessings Chola is from Kashishi village in Central Province. Her parents are both farmers. Her favorite subject is math and she would like to be an accountant. Her nominator wrote that "Blessings is always the first student to volunteer to help me with any co-curricular activities, participates in every discussion, is not afraid to challenge herself academically and confidently speaks out when she does not understand a concept". She is the top student in her class. Nobody in her family has ever gone beyond Grade 9.<a href = "../pages/more"><span style="color:blue"> More...</span></a></p>
		</div>
			<br>
			<br>
			
			<% if Girl.find(11).percent_funded.present? %>
			<% if (Girl.find(11).percent_funded * 100).ceil/1 < 100 %>
			<div>
				<%= form_for @donation ||= Donation.new, html: { class: "basic-grey" } do |f| %>
				<%= text_field(:donation, :amount, placeholder: "enter amount here")%>
				<%= f.hidden_field :girl_id, value: 11 %>
				<br>
				<%= f.submit "Donate", class: "btn", style: "color: white;background: rgb(30, 97, 155);" %>
				<% end %>
			</div>
			<br>
			<div class="container-fluid">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="<%= Girl.find(11).percent_funded %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= Girl.find(11).percent_funded * 100%>%">
					</div>
					</br>
				</div>
				Blessing's secondary education is currently <%=(Girl.find(11).percent_funded * 100).ceil/1 %>% funded
			</div>
			<%else%>
			<div class="container-fluid">
				Blessing's secondary education is completely funded!
			</div>
			<%end%>
			<%else%>
			<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				0% Funded
			</div>
			<%end%>
		</div>
		<hr>
		<div class="col-sm-6 text-center mx-auto">
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/Gladys compressed.jpeg" alt="A Zambian girl preparing to go to high school">
			<br>
			<div>
				<p>Gladys Mukosh is from Chibukuma village in Central Province. Her parents raise and sell vegetables. Of school, Gladys writes "My favorite subjects are English and Computer Science because they are difficult and they make me learn the most". Her nominator writes that "Gladys is
self-motivated and has a thirst for learning that I have not seen in any of my other students". Gladys would like to be a nurse."<a href = "../pages/more"><span style="color:blue"> More...</span></a>
			<br>
			<br>
			</div>
			<br>
			<br>
			<br>
			
			<% if Girl.find(12).percent_funded.present? %>
			<% if (Girl.find(12).percent_funded * 100).ceil/1 < 100 %>
			<div>
				<%= form_for @donation ||= Donation.new, html: { class: "basic-grey" } do |f| %>
				<%= text_field(:donation, :amount, placeholder: "enter amount here")%>
				<%= f.hidden_field :girl_id, value: 12 %>
				<br>
				<%= f.submit "Donate", class: "btn", style: "color: white;background: rgb(30, 97, 155);" %>
				<% end %>
			</div>
			<br>
			<div class="container-fluid">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="<%= Girl.find(12).percent_funded %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= Girl.find(12).percent_funded * 100%>%">
					</div>
					</br>
				</div>
				Glady's secondary education is currently <%=(Girl.find(12).percent_funded * 100).ceil/1 %>% funded
			</div>
			<%else%>
			<div class="container-fluid">
				Gladys's secondary education is completely funded!
			</div>
			<%end%>
			<%else%>
			<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				0% Funded
			</div>
			<%end%>
		</div>
		<hr>
		<br>
		<br>
		<br>
	</div>
</div>
<div>
	<div class="row featurette">
			<br>
			<br>
		<div class="col-sm-6 text-center mx-auto">
			<br>
		<br>
		<br>
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/Purity compressed.jpeg" alt="A Zambian girl preparing to go to high school">
			<br>
			<div>
				<p>Kabaso Purity is from Mutiti in Luapula Province. She does well in school and takes it very seriously. She hopes to a be a teacher one day and especially likes science. She is an orphan, one of ten children.<a href = "../pages/more"><span style="color:blue"> More...</span></a></p>
			</div>
			<br>
			<% if Girl.find(13).percent_funded.present? %>
			<% if (Girl.find(13).percent_funded * 100).ceil/1 < 100 %>
			<div>
				<%= form_for @donation ||= Donation.new, html: { class: "basic-grey" } do |f| %>
				<%= text_field(:donation, :amount, placeholder: "enter amount here")%>
				<%= f.hidden_field :girl_id, value: 13 %>
				<br>
				<%= f.submit "Donate", class: "btn", style: "color: white;background: rgb(30, 97, 155);" %>
				<% end %>
			</div>
			<br>
			<div class="container-fluid">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="<%= Girl.find(13).percent_funded %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= Girl.find(13).percent_funded * 100%>%">
					</div>
					</br>
				<br>
				<br>
				</div>
				Kabaso's secondary education is currently <%=(Girl.find(13).percent_funded * 100).ceil/1 %>% funded
			</div>
			<%else%>
			<div class="container-fluid">
				Kabaso's secondary education is completely funded!
			</div>
			<%end%>
			<%else%>
			<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				0% Funded
			</div>
			<%end%>
		</div>
		<div class="col-sm-6 text-center mx-auto">
			<br>
			<br>
			<br>
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/Anna Compressed.jpeg" alt="A Zambian girl preparing to go to high school">
			<div>
				<p>Anna Kunda is from Kamima in Central Province. She is one of nine children and both her parents are farmers. Her favorite subject is math and she dreams of being an accountant or bank manager. Her nominator writes that Anna is very smart and dedicated to her school work. All of her family's cattle died recently, leaving them unable to pay for her schooling.<a href = "../pages/more"><span style="color:blue"> More...</span></a></p>
			</div>
	<br>
			<br>
			<% if Girl.find(14).percent_funded.present? %>
			<% if (Girl.find(14).percent_funded * 100).ceil/1 < 100 %>
			<div>
				<%= form_for @donation ||= Donation.new, html: { class: "basic-grey" } do |f| %>
				<%= text_field(:donation, :amount, placeholder: "enter amount here")%>
				<%= f.hidden_field :girl_id, value: 14 %>
				<br>
				<%= f.submit "Donate", class: "btn", style: "color: white;background: rgb(30, 97, 155);" %>
				<% end %>
			</div>
			<br>
			<div class="container-fluid">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="<%= Girl.find(14).percent_funded %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= Girl.find(14).percent_funded * 100%>%">
					</div>
					</br>
				</div>
				Anna's secondary education is currently <%=(Girl.find(14).percent_funded * 100).ceil/1 %>% funded
			</div>
			<%else%>
			<div class="container-fluid">
				Anna's secondary education is completely funded!
			</div>
			<%end%>
			<%else%>
			<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				0% Funded
			</div>
			<%end%>
		</div>
		<hr>
	</div>


		<div class="row featurette">
			<div class="col-sm-12 text-center mx-auto">
				<br>
				<br>
				<p>We are trying to raise $1,250 for each girl which will cover all three years of secondary school.<p>
					
				</div>
			</div>
	
			<br>
			<br>
			<hr class="featurette-divider">
			
				<footer>
					<div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer>
