<section id="course-content">
  <section id="ruby">
    <section class="detailed-syllabus">
      <div class="wrapper-inside">
        <h3 class="title">Donation invoice</h3>
      </div>
      <div class="columns clearfix">
        <div class="left" style="padding-left:100px;">
          <p id="notice">
            <%= notice %>
          </p>
          <p>
            <strong>Donation Received!</strong>
          </p>
          <p>
            <strong>Name:</strong>
            <%= Girl.find(@donation.girl_id).name %>
          </p>
          <p>
            <strong>Amount:</strong>
            <%= @donation.amount %>
          </p>
          <p>
            <strong>Payment status:</strong>
            <%= @donation.notification_params[:payment_status] %>
          </p>
          <p>
            <strong>Payment date:</strong>
            <%= @donation.purchased_at %>
          </p>
          <p>
            <strong>Paypal Transaction Identifier:</strong>
            <%= @donation.transaction_id %>
          </p>
        </div>
      </div>
    </section>
  </section>
</section>