<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @girl.first_name %> <%= @girl.last_name %></h1>
      <img src="<%= @girl.image %>">
      <p><%= @girl.quote %></p>

      <p><%= @girl.description %></p>
    </div>
  </div>
</div>