<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Insaka" %></title>
   <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insaka. Increasing access to education for rural Zambian girls" %>">
    <meta name="keywords" content="Insaka, school, education, girl, women, Zambia, Africa, help, donate">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    
    <%= csrf_meta_tags %>


<link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png?v=bOLkpBbky7">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png?v=bOLkpBbky7">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png?v=bOLkpBbky7">
<link rel="manifest" href="/manifest.json?v=bOLkpBbky7">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=bOLkpBbky7" color="#1e619b">
<link rel="shortcut icon" href="/favicon.ico?v=bOLkpBbky7">
<meta name="apple-mobile-web-app-title" content="Insaka">
<meta name="application-name" content="Insaka">
<meta name="msapplication-TileColor" content="#1e619b">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=bOLkpBbky7">
<meta name="theme-color" content="#ffffff">




  </head>
  
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
